extends layout

block content
  h1 Stock Price Following a Geometric Brownian Motion

  div.inputSection
    label(for='spotPriceInput') Spot Price: $
    input#spotPriceInput(type='number' value=50)

  div.inputSection
    label(for='strikePriceInput') Strike Price: $
    input#strikePriceInput(type='number' value=55)

  div.inputSection
    label(for='termInput') Term (in years): 
    input#termInput(type='number' value=5)

  div.inputSection
    label(for='volInput') Volatility: 
    input#volInput(type='number' value=0.2)

  div.inputSection
    label(for='rfrInput') Risk Free Interest Rate: 
    input#rfrInput(type='number' value=0.05)

  div.inputSection
    label(for='numSimsInput') Number of Simulations: 
    input#numSimsInput(type='number' value=10)

  button#runButton Run

  button#clearButton Clear

  div(id='brownianMotionGraph')

  script(src='https://d3js.org/d3.v5.min.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.6.1/randomColor.min.js" integrity="sha512-vPeZ7JCboHcfpqSx5ZD+/jpEhS4JpXxfz9orSvAPPj0EKUVShU2tgy7XkU+oujBJKnWmu4hU7r9MMQNWPfXsYw==" crossorigin="anonymous")
  script(src='/javascripts/graph.js')