doctype html
html
  head
    title Brownian Motion
    link(rel='shortcut icon' type='image/x-icon' href="favicon.ico")
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content